h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.user-item {
  padding: 40px;
  border: 1px solid #2e2e2e;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 40px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: slategray;
  text-transform: uppercase;
}

.name {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-bottom: 30px;
}

.website {
  color: currentColor;
  display: block;
  padding: 8px 16px;
  color: currentColor;
  border: 1px solid;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
}
